.header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.header__left {
    min-width: 70px;
    flex: 0.5;
    background-color: white;
    color: gray;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.header__left>input {
    border: none;
    width: 100%;

}

.Avatar {
    border-radius: 50%;
    height: 100%;
    object-fit: contain;

}

.header__right {
    align-items: center;
    background-color: rgba(0, 0, 0, .7);
    border: 0;
    border-radius: 23px;
    color: #fff;
    cursor: pointer;
    display: flex;
    height: 32px;
    justify-content: center;
    padding: 2px;
    position: relative;
}

.header__right>h4 {
    margin-left: 10px;
}